
body {
    background: url("http://bgfons.com/upload/light_texture2204.jpg"); /* light green */
    color: #262626;
    font-family: Arial, san-serif;
}

.font-style{
    text-align: center;
    color: #fff;
}
#login-form{    
    width: 465px; 
    padding: 20%%; 
    margin: auto ; 
    border: 0px;    
}
#logo{
    padding: auto;
    display: block;
    margin: auto;
    width: 10%;
    height: 10%;
}


 
#login-form input[type="text"],
#login-form input[type="password"]
{
    font-size: 15px; 
    text-align: center;
    color:  #FFF;
    border: 2px solid  #FFF;
    width: 450px;
    margin-bottom: 25px; 
    padding: 5px;
    background-color: transparent;
    -moz-border-radius: 9px; 
    -webkit-border-radius: 9px; 
    border-radius: 9px;
     
} 
#opaco{
    background-color: #262626;
    opacity: 0.9;
    height: 100%;
    margin: 1px 1px;
}
#login-form input[type="text"]:focus,   
{ 
    background-color: #E5E6E7;
} 
 
#login-form textarea { 
    height: 150px;   
} 
 
#login-form input[type="submit"]  { 
    width: 450px;   
    color: #FFFFFF; 
    border: none; 
    background-color: transparent;
}                 


header{
    background-color:transparent;
    height:  10%;

}

nav{
    height: auto; /*Junto a overflow: hidden; aplicará a nuestro elemento nav el mismo alto que el más alto de sus elementos hijos */ 
    margin: 0 auto; /* Centro el contenedor */
    overflow: hidden;
    text-align: left;
    width: auto; /* Defino el ancho de mi página */
}
ul{
    list-style-type: none; /* Elimino los estilos de lista */ 
}

